body{ /* For all pages*/
    background-position: center;    
    background-color: #3c2f2f ;
    font-family: "Garamond",Serif;
    text-align: center;
    margin: 5%;
  }
/*home page */
.Homepage, h1{
      color:white;
      font-family: "Garamond",Serif;
}
