.SigninPage{
  font-family: Arial, sans-serif;
  background-color:    #3c2f2f ;

}
.SigninContainer, h1{
  color: #fff4e6 ;

}
.SigninContainer {
  margin: 0 auto;
  background-color:    #854442  ;
  border: 1px solid #ccc;
  padding: 20px;
  position: relative;
  top:100px;
  width: 200px;
  height: 300px;
  text-align: center;
  box-shadow: 0px 0px 5px #888;
}
.SigninPage p{
  color:#fff4e6 ;
  font-family: "Garamond",Serif;
  font-size:20px;
  position: relative;
  bottom: 40px;
  right:150px;
}
#loginForm, form {
  display: flex;
  flex-direction: column;
}

#loginForm, label {
  margin-bottom: 10px;
}

#loginForm, input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#loginForm, button {
  background-color:#854442  ;
  color: #fff4e6;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.SigninPage button {
  background-color: #be9b7b;
}
#loginForm button:hover {
  background-color:#4b3832  ;

}
#message {
  color: red;
}
.passwordcontent {
  text-align: center;
  position: relative;
  top: 70px;
  left:60px;
}
.passwordcontent p{
  text-align: center;
  position: relative;
  top: 18px;
  right: 50px;
}

.passwordcontent button {
  text-align: center;
  position: relative;
  top: 40px;
  right:150px;
}
.forgot-password button {
  position: relative;
  top: 40px;
  left:150px;
}

